# Ignore virtual environment files
venv/

# Ignore cached files
__pycache__
.pytest_cache

# Ignore compiled files
*.pyc

# Ignore sqlite database file
*.sqlite3

# These should only be relevant during development.
# Image will be built once the tests pass.
# Image will also be smaller in size with exclusion of tests.
tests/
